@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #080808;
  --foreground: #ffffff;
}

.dark {
  --background: #080808;
  --foreground: #ffffff;
}

@layer base {
  * {
    @apply border-white/5 outline-none;
  }
  body {
    @apply bg-[#080808] text-white selection:bg-white/20 overflow-x-hidden antialiased;
    scroll-behavior: smooth;
  }
}

@layer components {
  .glass-card {
    @apply border border-white/10 bg-[#0F1115]/80 backdrop-blur-2xl;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-white/10 hover:bg-white/20 transition-colors;
}
